@model List<Model.Entity.Product>
@{
    ViewBag.Title = "Lista de Produtos";
}

<a href="">Relatórios</a>
<h2 class="text-center text-success">Lista de Produtos</h2>
<div class="well well-sm">
    <a class="btn btn-primary" href="~/Product/Create">Novo</a>
    <a class="btn btn-info" href="~/Product/SearchProducts">Buscar</a>
</div>
<table class="table table-hover table-striped">
    <thead>

        <tr class="bg-primary">
            <th>Código</th>
            <th>Nome</th>
            <th>Preço Unitário</th>
            <th> Categoria</th>
            <th colspan="3">Operações</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var objProduct in Model)
        {
            <tr>
                <td>@objProduct.IdProduct</td>
                <td>@objProduct.Name</td>
                <td>@objProduct.UnitPrice</td>
                <td>@objProduct.IdCategory</td>
                <td><a class="btn btn-success" href="~/Product/Details/@objProduct.IdProduct"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                <td><a class="btn btn-info" href="~/Product/Edit/@objProduct.IdProduct"><span class="fa fa-edit"></span></a></td>
                <td><a class="btn btn-danger" href="~/Product/Delete/@objProduct.IdProduct"><span class="fa fa-book"></span></a></td>
            </tr>
        }
    </tbody>
</table>