@model Model.Entity.Category
@{
    ViewBag.Title = Model.Name;
}

<ol class="breadcrumb">
    <li><a href="~/">Categorias</a></li>
    <li class="active">@(Model.Name)</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">Informação da Categoria</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Código</dt>
            <dd>@Model.IdCategory</dd>

            <dt>Nome</dt>
            <dd>@Model.Name</dd>

            <dt>Descrição</dt>
            <dd>@Model.Description</dd>
        </dl>
        <div class="form-actions">
            |@Html.ActionLink("Voltar a Lista", "Index");
        </div>
    </div>
</div>
